*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    min-width: 1500px;
    min-height: 100vh;
}
.order{
    background-color: white;
    height: 800px;
}
#gradient{
    background: linear-gradient(107deg, white 50%, #F6B400 50%)
}

.services{
    background-color: #edf5ee;
    height: 300px;
}
.mobile{
    background-color: #F6B400;
    height: 400px;
}
footer{
    height: 30px;
    padding-top: 5px;
}
ul {
    padding: 0;
    overflow: auto;
   
  }
  

li{
    display: inline;
    float: right;
    padding-right: 100px;
    padding-top: 30px;
    font-size: x-large;
    font-weight: 700;
}
#logo{
    float: left;
    padding-top: 0;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 10px;
}
.image1{
    float: right;
    padding-bottom: 60px;
    padding-right: 400px;
}
.rain{
    border-style: dashed;
    height: 60%;
    width: 30%;
    margin: 5%;
}
#shine{
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}
#cook{
    font-weight: 500;
    font-size: larger;
    margin-bottom: 50px;
}
.button{
    background-color: #F6B400;
    color: white;
    font-size: large;
    padding: 20px;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 30px;
}