*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.order{
    background-color: white;
    height: 500px;
}
#gradient{
    background: linear-gradient(110deg, white 50%, #F6B400 50%)
}

.services{
    background-color: #edf5ee;
    height: 300px;
}
.mobile{
    background-color: #F6B400;
    height: 400px;
}
footer{
    height: 30px;
    padding-top: 5px;
}

li{
    display: inline;
    float: right;
    padding-right: 50px;
}
#logo{
    float: left;
}